+b('header').header
    .container
        //- пример вызова модалок
        a(
            href="javascript:;"
            data-target="#modal-auth"
            data-toggle="modal"
            ).btn.btn--primary Войти
        a(
            href="javascript:;"
            data-target="#modal-feedback"
            data-toggle="modal"
        ).btn.btn--gray.btn--bordered Заказать звонок
        |

